<div class="container">
    <h3>Add System Item</h3>
    <!-- <form> -->
        <!-- Item Name -->
        <!-- <div class="form-group">
            <label for="ItemName">Item Name</label>
            <input type="text" id="itemName" class="form-control" [(ngModel)]="itemName" name="itemName" />
        </div> -->

        <!-- Item Type -->
        <!-- <div class="form-group">
            <label for="itemType">Item Type</label>
            <select id="itemType" class="form-control" [(ngModel)]="itemType" name="itemType">
                <option value="CISCO">CISCO</option>
                <option value="DELL">DELL</option>
                <option value="HP">HP</option> -->
                <!-- Add more options as needed -->
            <!-- </select>
        </div> -->

        <!-- Is HDMS -->
        <!-- <div class="form-group">
            <label>Is HDMS</label>
            <div>
                <label>
                    <input type="radio" [(ngModel)]="isHdms" name="isHdms" value="true" /> True
                </label>
                <label>
                    <input type="radio" [(ngModel)]="isHdms" name="isHdms" value="false" /> False
                </label>
            </div>
        </div> -->

        <!-- Active -->
        <!-- <div class="form-group">
            <label>Active</label>
            <div>
                <label>
                    <input type="radio" [(ngModel)]="isActive" name="isActive" value="true" /> True
                </label>
                <label>
                    <input type="radio" [(ngModel)]="isActive" name="isActive" value="false" /> False
                </label>
            </div>
        </div> -->

        <!-- Save Button -->
        <!-- <button type="submit" class="btn btn-primary" (click)="onSave()">Save</button>
    </form>
</div> -->

<div *ngIf="systemitemLists.length > 0">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Sr No</th>
                <th scope="col"> Item Name</th>
                <th scope="col"> item Type</th>
                <th scope="col">Is HDMS</th>
                <th scope="col"> Is Active</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of systemitemLists">
                <td scope="row">{{ item['Id'] }}</td>
                <td scope="row">{{ item['Item_name'] }}</td>
                <td>{{ item['item_type'] }}</td>
                <td>{{ item['Is_HDMS'] }}</td>
                <td>{{ item['Is_active'] }}</td>
                <td><a class="action-edit" (click)="editSystemitemDetails(item['Item_name'])">Edit SHQ</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<!-- Button trigger modal -->


<!-- Modal -->

<!-- Modal -->
<div #shqEditModal class="modal fade bd-example-modal-lg"  tabindex="-1" role="dialog" aria-labelledby="shqEditLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shqEditModalTitle">Vertical Inventory Item Info. Updation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" (click)="closeEditPopup()">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="shqEditForm" (ngSubmit)="onUpdate()">
      
            <div class="form-group">
              <label for="description">Description or Installed Item:</label>
              <input type="text" formControlName="description"  class="form-control"  required />
            </div>
        
            <div class="form-group">
              <label for="quantity">Quantity:</label>
              <input type="number" formControlName="qty" value="{{shqEditFormValues.qty}}" class="form-control"  required />
            </div>
            {{currentUnit}}
        
            <div class="form-group">
              <label for="unit">Unit:</label>
              <select class="custom-select custom-select-lg mb-3" formControlName="unit" class="form-control" [(ngModel)] = "currentUnit" >
                <option *ngFor="let unit of units" [ngValue]="unit">{{unit}}</option>
              </select>
            </div>
        
            <div class="form-group">
              <label for="serialNo">Serial No./Processor ID:</label>
              <input type="text" formControlName="serialNoOrId"  class="form-control" value="{{shqEditFormValues.serialNoOrId}}" ngModel />
            </div>
        
            <div class="form-group">
              <label for="makeProductPart">Make and Product Part No./Model Name:</label>
              <input type="text"formControlName="serialNoOrId" class="form-control" value="{{shqEditFormValues.serialNoOrId}}" ngModel />
            </div>
        
            <div class="form-group">
              <label for="remark">Remark (if locked):</label>
              <input type="text"formControlName="remark" class="form-control" value="{{shqEditFormValues.remark}}" ngModel />
            </div>
            <table class="table table-striped"> 
              <thead>
                <th>vertical</th>
                <th> next heading</th>
                <th>next heading</th>
              </thead>
              <tbody>
                <td> value1</td>
                <td>value 2</td>
                <td>value 2</td>
              </tbody>
            </table>
        
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Update</button>
              <button type="button" class="btn btn-secondary" >Back</button>
              <button type="button" class="btn btn-info" >Result</button>
            </div>
           
          
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeEditPopup()">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
