<div class="container">
  <h2>HO Sites Shifting Request Status</h2>
  <div class="box-content">
   <table class="table table-bordered">
      <thead>
        <tr>
          <th>Total Shifting Request</th>
          <th>Shifting Request Under Process</th>
          <th>Shifting Request Canceled</th>
          <th>Shifting Completed</th>
          <th>Total Site Updated Pending</th>      
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ totalShiftingRequest.totalShiftingRequest }}</td>
          <td>{{ totalShiftingRequest.underProcess }}</td>
          <td>{{ totalShiftingRequest.canceled }}</td>
          <td>{{ totalShiftingRequest.completed }}</td> 
          <td>{{ totalShiftingRequest.updatedPending }}</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Status</th>
          <th> Yes </th>
          <th> No </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let status of data.statuses">
          <td>{{ status.label }}</td>
          <td>{{ status.value[0] }}</td>
          <td>{{ status.value[1] }}</td> 
        </tr>
      </tbody>
   </table>
 </div>
</div>
