<div class="container mt-4">
  <h2>{{ editMode ? 'Edit Department' : 'Add Department' }}</h2>
  
  <form [formGroup]="departmentForm" (ngSubmit)="onSubmit()" class="mb-3 border p-3 rounded bg-light">
    <div class="row">
      <div class="col-md-4">
        <label>Department Name</label>
        <input type="text" formControlName="Department_name" class="form-control" required>
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">
      {{ editMode ? 'Update' : 'Add' }}
    </button>
    <button *ngIf="editMode" type="button" class="btn btn-secondary mt-3 ms-2" (click)="cancelEdit()">
      Cancel
    </button>
  </form>

  <table class="table table-bordered mt-3">
    <thead class="table-dark">
      <tr>
        <th>Sr No</th>
        <th>Department</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of department; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ d.Department_name }}</td>
        <td>
          <a class="action-edit text-primary" role="button" (click)="editDepartment(d)">Edit</a> |
          <a class="action-delete text-danger" role="button" (click)="deleteDepartment(d.Id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
