<div class="container mt-4">
  <h2>{{ editMode ? 'Edit Designatiom' : 'Add Designation' }}</h2>

  <form [formGroup]="designationForm" (ngSubmit)="onSubmit()" class="mb-3 border p-3 rounded bg-light">
    <div class="row">
      <div class="col-md-4">
        <label>Designation Name</label>
        <input type="text" formControlName="Designation_name" class="form-control" required>
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">
      {{ editMode ? 'Update' : 'Add' }}
    </button>
    <button *ngIf="editMode" type="button" class="btn btn-secondary mt-3" (click)="cancelEdit()">
      Camcel
    </button>
  </form>

  <table class="table table-bordered mt-3">
    <thead class="table-dark">
      <tr>
        <th>Sr No</th>
        <th>Designation</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of designation; let i = index">
        <td>{{ i + 1 }} </td>
        <td>{{ d.Designation_name }}</td>
        <td>
          <a class="action-edit text-primary" role="button" (click)="editDesignation(d)">Edit</a> |
          <a class="action-delete text-danger" role="button" (click)="deleteDesignation(d.Id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>