<div>
    
  <div class="header">
    <a id="ctl00_linkhome2" class="logo">
      <img class="img-logo" alt="RajSWAN Logo" src="../assets/stl_logo.png"> 
    </a>
    
    <div class="logo">Welcome To RajSWAN Inventory Portal</div>
    <div class="navbar">
        <a>Welcome</a>
        <a href="#admin">Admin</a>
        <a href="#Change Password">(Change Password)</a>
        <a href="#Logout">Logout</a>
    </div>
        
    </div>

    <div class="">
      <div class="">
        <div class="dropdown p-2">
        <a href="#master">Master</a>
        <div class="dropdown-content">           
            <a routerLink="/master-items">System Item</a>
            <a routerLink="/district">District</a>
            <a routerLink="/block">Block</a>
            <a routerLink="/department">Department</a>
            <a routerLink="/designation">Designation</a>
            <a routerLink="/user">User</a>            
        </div>
      </div>
      
      <div class="dropdown p-2">
      <a href="#inventory">Inventory</a>
      <div class="dropdown-content">
          <a routerLink="/shq" href="">SHQ Site Inventory</a>
          <a href="">Vertical DHQ/BHQ Sites Inventory</a>
          <a href="">Vertical Inventory Log Daywise</a>
          <a href="">All HO Sites Inventory</a>
          <a href="">HO Site Inventory Log Daywise</a>
          <a href="">HO Inventory Search Options</a>
            
      </div>
    </div>
   

    <div class="dropdown p-2">
      <a href="#siteshift">HO Site Shifting</a>
            <div class="dropdown-content">
                <a routerLink="/site-shift-form">Entry For HO Site Shiftting</a>
                <a routerLink="/site-shift-list">Show HO Site Shiftting</a>   
                <a routerLink="/site-shift-request-status">HO Site Shiftting Status</a>
          </div>
        </div>
       
        
    <div class="dropdown p-2">
      <a href="#inventoryreports">Inventory Reports</a>
            <div class="dropdown-content">
                <a routerLink="/district-inventory-report">Item Working Status</a>
                <a href=>Item wise Status</a>
          </div>
        </div>

    <div class="dropdown p-2">
      <a href="#sparemanagement">Spare Management</a>
            <div class="dropdown-content">
                <a routerLink="/spare-mgmt">Spare Management</a>
                <a routerLink="/item-complain">Other Item Complaint Report</a>
                <a routerLink="/cisco-item">CISCO  Item  Complaint Report</a>
                <a routerLink="/other-item-inventory-log">Other Item Inventory Log</a>
                <a routerLink="/cisco-item-inventory-log">CISCO Item Inventory Log</a>
                <a routerLink="/other-item-report">Other Item Report</a>
                <a routerLink="/cisco-item-report">CISCO Item Report</a>
              </div>
            </div>    
      </div>
      
</div>
<!-- <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Item
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Select</a>
    <a class="dropdown-item" href="#">2 KVA UPS</a>
    <a class="dropdown-item" href="#">1 KVA UPS</a>
    <a class="dropdown-item" href="#">Modem (G.703)</a>
    <a class="dropdown-item" href="#">Modems (V.35)</a>
    <a class="dropdown-item" href="#">15U Closed Rack</a>
    <a class="dropdown-item" href="#">UTP Patch Panel</a>
    <a class="dropdown-item" href="#">UTP Patch Cord - 7ft</a>
    <a class="dropdown-item" href="#">OVCD</a>
    <a class="dropdown-item" href="#">Filter Box</a>
    <a class="dropdown-item" href="#">AC to DC Adaptor</a>
    <a class="dropdown-item" href="#">6 KVA UPS</a>
    <a class="dropdown-item" href="#">Webcam with Web-based Surveilance Software</a>
    <a class="dropdown-item" href="#">42U Closed Rack</a>
    <a class="dropdown-item" href="#">Information Outlets</a>
    <a class="dropdown-item" href="#">50 Pair Shielded Cable</a>
    <a class="dropdown-item" href="#">50 Pair Wiring Block</a>
    <a class="dropdown-item" href="#">AC</a>
    <a class="dropdown-item" href="#">Battery</a>
    <a class="dropdown-item" href="#">Steplizer</a>
    <a class="dropdown-item" href="#">Anti Virus Software Client</a>
    <a class="dropdown-item" href="#">Earthpit</a>
    <a class="dropdown-item" href="#">10 KVA DG Set</a>
    <a class="dropdown-item" href="#">5 KVA DG Set</a>
    <a class="dropdown-item" href="#">Moniter</a>
    <a class="dropdown-item" href="#">CPU</a>
    <a class="dropdown-item" href="#">Keyboard</a>
    <a class="dropdown-item" href="#">Mouse</a>
    <a class="dropdown-item" href="#">OFC with one pair of media converter</a> 
 </div>
</div> -->
<!-- <div class="Spare Management">
<div class="">
<div class="dropdown p-2">
       <a href="#selectitem">Select Item</a>
         <div class="dropdown-content">
            <a href=>Select</a>
            <a href=>2 KVA UPS</a>
            <a href=>1 KVA UPS</a>
            <a href=>Modem (G.703)</a>
            <a href=>Modems (V.35)</a>
            <a href=>15U Closed Rack</a>
            <a href=>UTP Patch Panel</a>
            <a href=>UTP Patch Cord - 7ft</a>
            <a href=>OVCD</a>
            <a href=>Filter Box</a>
            <a href=>AC to DC Adaptor</a>
            <a href=>6 KVA UPS</a>
            <a href=>Webcam with Web-based Surveilance Software</a>
            <a href=>42U Closed Rack</a>
            <a href=>Information Outlets</a>
            <a href=>50 Pair Shielded Cable</a>
            <a href=>50 Pair Wiring Block</a>
            <a href=>AC</a>
            <a href=>Battery</a>
            <a href=>Steplizer</a>
            <a href=>Anti Virus Software Client</a>
            <a href=>Earthpit</a>
            <a href=>10 KVA DG Set</a>
            <a href=>5 KVA DG Set</a>
            <a href=>Moniter</a>
            <a href=>CPU</a>
            <a href=>Keyboard</a>
            <a href=>Mouse</a>
            <a href=>OFC with one pair of media converter</a>
         </div>   
      </div>
</div>
</div> -->
      <router-outlet></router-outlet> 