<div>
    
  <div class="header">
    <a id="ctl00_linkhome2" class="logo">
      <img class="img-logo" alt="RajSWAN Logo" src="../assets/stl_logo.png"> 
    </a>
    
    <div class="logo">Welcome To RajSWAN Inventory Portal</div>
    <div class="navbar">
        <a>Welcome</a>
        <a href="#admin">Admin</a>
        <a href="#Change Password">(Change Password)</a>
        <a href="#Logout">Logout</a>
    </div>
        
    </div>

    <div class="">
      <div class="">
        <div class="dropdown p-2">
        <a href="#master">Master</a>
        <div class="dropdown-content">
            <a routerLink="/system-item">System Item</a>            
            <a routerLink="/master-items">Master Items</a>            
        </div>
      </div>
      
      <div class="dropdown p-2">
      <a href="#inventory">Inventory</a>
      <div class="dropdown-content">
          <a href=>SHQ Site Inventory</a>
          <a href=>Vertical DHQ/BHQ Sites Inventory</a>
          <a href=>Vertical Inventory Log Daywise</a>
          <a href=>All HO Sites Inventory</a>
          <a href=>HO Site Inventory Log Daywise</a>
          <a href=>HO Inventory Search Options</a>
          <a routerLink="/shq">Go to SHQ Component </a>
            
      </div>
    </div>
   

    <div class="dropdown p-2">
      <a href="#siteshifting">Site Shifting</a>
            <div class="dropdown-content">
                <a href=>Entry For HO Site Shiftting</a>
                <a href=>Show HO Site Shiftting</a>
                <a href=>HO Site Shiftting Status</a>
          </div>
        </div>
       
        
    <div class="dropdown p-2">
      <a href="#inventoryreports">Inventory Reports</a>
            <div class="dropdown-content">
                <a href=>Item Working Status</a>
                <a href=>Item wise Status</a>
          </div>
        </div>

    <div class="dropdown p-2">
      <a href="#sparemanagement">Spare Management</a>
            <div class="dropdown-content">
                <a href=>Spare Management</a>
                <a href=>Other Item  Complaint Report</a>
                <a href=>CISCO  Item  Complaint Report</a>
                <a href=>Other Item Inventory Log</a>
                <a href=>CISCO Item Inventory Log</a>
                <a href=>Other Item Report</a>
                <a href=>CISCO Item Report</a>
              </div>
            </div>    
      </div>
      <router-outlet></router-outlet>        
</div>